# Default ignored files
/shelf/
/workspace.xml

# Virtual environment
.venv/

# IDEs
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Pickle files (models, matrices, similarity scores)
# *.pkl
# OS files
.DS_Store
Thumbs.db
